PORT=4000
NODE_ENV=development

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USERNAME="xx@xx.email"
SMTP_PASSWORD="xxxxx"
EMAIL_FROM="xxx@xx.com"

DATABASE_URL="postgresql://username:password@domain.com/dbname?sslmode=require"